<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" routerLink="/home" routerLinkActive="active" href="#home">Home</a>
  </li>
  <li class="nav-item">
    <div class="btn-group">
      <a class="nav-link" data-toggle="tab" role="button" routerLink="/services" routerLinkActive="active"
        href="#services">Data Binding</a>
      <button type="button" class="btn  dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <span class="sr-only"></span>
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">One-way binding</a>
        <a class="dropdown-item" href="#">Two-way binding</a>
      </div>
    </div>
  </li>
  <li class="nav-item">
    <div class="btn-group">
      <a class="nav-link" data-toggle="tab" role="button" routerLink="/data-sharing" routerLinkActive="active"
        href="#services">Data sharing</a>
      <button type="button" class="btn  dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <span class="sr-only"></span>
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" routerLink="/parent-child-sharing" routerLinkActive="active">Parnet-child sharing</a>
        <a class="dropdown-item" routerLink="/siblings-sharing" routerLinkActive="active">Siblings sharing</a>
        <a class="dropdown-item" routerLink="/global-sharing" routerLinkActive="active">Global sharing</a>
      </div>
    </div>
  </li>
  <li class="nav-item">
    <div class="btn-group">
      <a class="nav-link" data-toggle="tab" role="button" routerLink="/forms" routerLinkActive="active">Forms</a>
      <button type="button" class="btn  dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <span class="sr-only"></span>
      </button>
      <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="/template-driven-forms" routerLinkActive="active">Template-driven forms</a>
        <a class="dropdown-item" routerLink="/model-driven-forms" routerLinkActive="active">Reactive forms</a>
      </div>
    </div>
  </li>
</ul>