<ul class="nav nav-tabs">
  <li class="nav-item">
      <a class="nav-link" data-toggle="tab" routerLink="/home" routerLinkActive="active" href="#home">Home</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" data-toggle="tab" routerLink="/services" routerLinkActive="active" href="#services">Data Binding</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" data-toggle="tab" routerLink="/accountLog" routerLinkActive="active" href="#accountLog">Data sharing</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" routerLink="/accountLog" routerLinkActive="active" href="#accountLog">Forms</a>
</li>
</ul>